<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS.

    Here you should place the cursor at Date field and manually type as DD-MM-YYYY.

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [ ]:
pip install sqlalchemy==1.3.9
pip install ibm_db_sa
pip install ipython-sql

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [1]:
%load_ext sql
import csv, sqlite3

con = sqlite3.connect("spxdb.db")
cur = con.cursor()

%sql sqlite:///spxdb.db

In [61]:
import pandas as pd
import sqlalchemy
import datetime
df = pd.read_csv('Spacex.csv')
df['Date'] = pd.to_datetime(df['Date'])
df['Time (UTC)'] = pd.to_datetime(df['Time (UTC)'], format='%H:%M:%S').dt.time
df.dtypes
df.rename(columns = {'Landing _Outcome':'Landing_Outcome'}, inplace = True)

C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '22-05-2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '29-09-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '18-04-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '14-07-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '21-09-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '14-04-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '27-04-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '28-06-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '22-12-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '17-01-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '27-05-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '15-06-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '18-07-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '14-08-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '14-01-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '19-02-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '16-03-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '30-03-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '15-05-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '23-06-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '25-06-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '14-08-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '24-08-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '30-10-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '15-12-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '23-12-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '31-01-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '22-02-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '30-03-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '18-04-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '22-05-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '29-06-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '22-07-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '25-07-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '15-11-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '23-12-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '22-02-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '24-05-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '25-07-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '17-12-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '19-01-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '29-01-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '17-02-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '18-03-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '22-04-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '30-05-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '13-06-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '30-06-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '20-07-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '18-08-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '30-08-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '18-10-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '24-10-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '16-11-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '21-11-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\sjmon\AppData\Local\Temp\ipykernel_10424\2998972888.py:5: UserWarning: Parsing '25-11-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])

In [62]:
import pandas
import sqlalchemy
import datetime
df.to_sql("Spacex", 
    con, 
    if_exists='replace', 
    index=False,
    method="multi")

101

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

In [ ]:
%sql ibm_db_sa://

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [63]:
%sql SELECT DISTINCT Launch_Site FROM Spacex

 * sqlite:///spxdb.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [64]:
%sql SELECT * FROM Spacex WHERE Launch_Site LIKE 'CCA%' LIMIT 5

 * sqlite:///spxdb.db
Done.

[('2010-04-06 00:00:00', '18:45:00.000000', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-08-12 00:00:00', '15:43:00.000000', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22 00:00:00', '07:44:00.000000', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-08-10 00:00:00', '00:35:00.000000', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-01-03 00:00:00', '15:10:00.000000', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [65]:
%sql SELECT Customer, sum(PAYLOAD_MASS__KG_) as total FROM Spacex WHERE Customer = 'NASA (CRS)' GROUP BY Customer

 * sqlite:///spxdb.db
Done.

[('NASA (CRS)', 45596)]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [66]:
%sql SELECT Booster_Version, avg(PAYLOAD_MASS__KG_) as total FROM Spacex GROUP BY Booster_Version

 * sqlite:///spxdb.db
Done.

[('F9 B4  B1039.2', 2647.0),
 ('F9 B4  B1040.2', 5384.0),
 ('F9 B4  B1041.2', 9600.0),
 ('F9 B4  B1043.2', 6460.0),
 ('F9 B4 B1039.1', 3310.0),
 ('F9 B4 B1040.1', 4990.0),
 ('F9 B4 B1041.1', 9600.0),
 ('F9 B4 B1042.1', 3500.0),
 ('F9 B4 B1043.1', 5000.0),
 ('F9 B4 B1044', 6092.0),
 ('F9 B4 B1045.1', 362.0),
 ('F9 B4 B1045.2', 2697.0),
 ('F9 B5  B1046.1', 3600.0),
 ('F9 B5 B1046.2', 5800.0),
 ('F9 B5 B1046.3', 4000.0),
 ('F9 B5 B1046.4', 12050.0),
 ('F9 B5 B1047.2', 5300.0),
 ('F9 B5 B1047.3 ', 6500.0),
 ('F9 B5 B1048.2', 3000.0),
 ('F9 B5 B1048.3', 4850.0),
 ('F9 B5 B1048.4', 15600.0),
 ('F9 B5 B1048.5', 15600.0),
 ('F9 B5 B1049.2', 9600.0),
 ('F9 B5 B1049.3', 13620.0),
 ('F9 B5 B1049.4', 15600.0),
 ('F9 B5 B1049.5', 15600.0),
 ('F9 B5 B1049.6', 15440.0),
 ('F9 B5 B1049.7 ', 15600.0),
 ('F9 B5 B1051.2 ', 4200.0),
 ('F9 B5 B1051.3', 15600.0),
 ('F9 B5 B1051.4', 15600.0),
 ('F9 B5 B1051.5', 14932.0),
 ('F9 B5 B1051.6', 15600.0),
 ('F9 B5 B1056.2 ', 2268.0),
 ('F9 B5 B1056.3 ', 6956.0),
 ('F9 B5 B1056.4', 15600.0),
 ('F9 B5 B1058.2 ', 5500.0),
 ('F9 B5 B1058.3 ', 15600.0),
 ('F9 B5 B1058.4 ', 2972.0),
 ('F9 B5 B1059.2', 1977.0),
 ('F9 B5 B1059.3', 15410.0),
 ('F9 B5 B1059.4', 3130.0),
 ('F9 B5 B1060.2 ', 15600.0),
 ('F9 B5 B1060.3', 15600.0),
 ('F9 B5B1047.1', 7075.0),
 ('F9 B5B1048.1', 9600.0),
 ('F9 B5B1049.1', 7060.0),
 ('F9 B5B1050', 2500.0),
 ('F9 B5B1051.1', 12055.0),
 ('F9 B5B1054', 4400.0),
 ('F9 B5B1056.1 ', 2495.0),
 ('F9 B5B1058.1 ', 12530.0),
 ('F9 B5B1059.1', 2617.0),
 ('F9 B5B1060.1', 4311.0),
 ('F9 B5B1061.1 ', 12500.0),
 ('F9 B5B1062.1', 4311.0),
 ('F9 B5B1063.1', 1192.0),
 ('F9 FT  B1021.2', 5300.0),
 ('F9 FT  B1029.2', 3669.0),
 ('F9 FT  B1031.2', 5200.0),
 ('F9 FT  B1032.2', 4230.0),
 ('F9 FT  B1035.2', 2205.0),
 ('F9 FT  B1036.2', 9600.0),
 ('F9 FT  B1038.2', 2150.0),
 ('F9 FT B1019', 2034.0),
 ('F9 FT B1020', 5271.0),
 ('F9 FT B1021.1', 3136.0),
 ('F9 FT B1022', 4696.0),
 ('F9 FT B1023.1', 3100.0),
 ('F9 FT B1024', 3600.0),
 ('F9 FT B1025.1', 2257.0),
 ('F9 FT B1026', 4600.0),
 ('F9 FT B1029.1', 9600.0),
 ('F9 FT B1030', 5600.0),
 ('F9 FT B1031.1', 2490.0),
 ('F9 FT B1032.1', 5300.0),
 ('F9 FT B1034', 6070.0),
 ('F9 FT B1035.1', 2708.0),
 ('F9 FT B1036.1', 9600.0),
 ('F9 FT B1037', 6761.0),
 ('F9 FT B1038.1', 475.0),
 ('F9 v1.0  B0003', 0.0),
 ('F9 v1.0  B0004', 0.0),
 ('F9 v1.0  B0005', 525.0),
 ('F9 v1.0  B0006', 500.0),
 ('F9 v1.0  B0007', 677.0),
 ('F9 v1.1', 2928.4),
 ('F9 v1.1  B1003', 500.0),
 ('F9 v1.1 B1010', 2216.0),
 ('F9 v1.1 B1011', 4428.0),
 ('F9 v1.1 B1012', 2395.0),
 ('F9 v1.1 B1013', 570.0),
 ('F9 v1.1 B1014', 4159.0),
 ('F9 v1.1 B1015', 1898.0),
 ('F9 v1.1 B1016', 4707.0),
 ('F9 v1.1 B1017', 553.0),
 ('F9 v1.1 B1018', 1952.0)]

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [71]:
#%sql SELECT Landing_Outcome, min(Date) as first_date FROM Spacex WHERE Landing_Outcome = 'Success (ground pad)' GROUP BY Landing_Outcome
%sql SELECT Landing_Outcome, min(Date) as first_date FROM Spacex  GROUP BY Landing_Outcome

 * sqlite:///spxdb.db
Done.

[('Controlled (ocean)', '2014-04-18 00:00:00'),
 ('Failure', '2018-05-12 00:00:00'),
 ('Failure (drone ship)', '2015-04-14 00:00:00'),
 ('Failure (parachute)', '2010-04-06 00:00:00'),
 ('No attempt', '2012-05-22 00:00:00'),
 ('No attempt ', '2019-06-08 00:00:00'),
 ('Precluded (drone ship)', '2015-06-28 00:00:00'),
 ('Success', '2018-03-12 00:00:00'),
 ('Success (drone ship)', '2016-05-27 00:00:00'),
 ('Success (ground pad)', '2015-12-22 00:00:00'),
 ('Uncontrolled (ocean)', '2013-09-29 00:00:00')]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [72]:
%sql SELECT Booster_Version, Landing_Outcome, PAYLOAD_MASS__KG_ FROM Spacex WHERE Landing_Outcome = 'Success (drone ship)' and PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000

 * sqlite:///spxdb.db
Done.

[('F9 FT B1022', 'Success (drone ship)', 4696),
 ('F9 FT B1026', 'Success (drone ship)', 4600),
 ('F9 FT  B1021.2', 'Success (drone ship)', 5300),
 ('F9 FT  B1031.2', 'Success (drone ship)', 5200)]

### Task 7

##### List the total number of successful and failure mission outcomes

In [75]:
%sql SELECT DISTINCT Mission_Outcome, count(*) as Number FROM Spacex GROUP BY Mission_Outcome

 * sqlite:///spxdb.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [78]:
%sql SELECT Booster_Version, PAYLOAD_MASS__KG_ FROM Spacex WHERE PAYLOAD_MASS__KG_ = (select max(PAYLOAD_MASS__KG_) from Spacex)

 * sqlite:///spxdb.db
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1049.7 ', 15600)]

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [86]:
%sql SELECT Landing_Outcome, Booster_Version,Launch_Site, Date FROM Spacex WHERE Landing_Outcome like'Fa%' AND CAST(SUBSTR(Date, 1, 4) AS integer) = 2015

 * sqlite:///spxdb.db
Done.

[('Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40', '2015-10-01 00:00:00'),
 ('Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40', '2015-04-14 00:00:00')]

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [90]:
%sql SELECT DISTINCT Landing_Outcome, count(*) as Count FROM Spacex WHERE Landing_Outcome in ('Failure (drone ship)','Success (ground pad)') AND Date BETWEEN '2010-06-04 00:00:01' AND '2017-03-20 23:59:59' GROUP BY Landing_Outcome ORDER BY Count DESC

 * sqlite:///spxdb.db
Done.

[('Success (ground pad)', 5), ('Failure (drone ship)', 5)]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-10-12 | 0.4     | Lakshmi Holla | Changed markdown          |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>

## Other Contributors

<h4> Rav Ahuja </h4>